/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #145da0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 40px 30px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h3 {
  letter-spacing: 1.5px;
  font-size: 2rem;
}

.joke {
  font-size: 3rem;
  letter-spacing: 0.75px;
  line-height: 35px;
  margin: 40px auto;
  max-width: 600px;
}

.btn {
  font-size: 1.6rem;
  background-color: #0c2d48;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform, letter-spacing 0.33s ease;
}

.btn:hover {
  transform: rotate(-3deg);
  letter-spacing: 1px;
}

.btn:active {
  transform: scale(0.98);
}

.icon {
  position: fixed;
  bottom: 33.5px;
  left: 5px;
  font-size: 4rem;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #000;
  padding: 10px 10px;
}

.footer-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.footer-container ul {
  display: flex;
  gap: 15px;
}

.footer-container li i {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  font-size: 2rem;
  padding: 3px;
  transition: transform 0.3s linear;
}

.footer-container li i:hover {
  transform: rotate(360deg);
}

.footer-container p {
  font-size: 1.2rem;
}
